@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
$break-small: 500px;
$break-large: 800px;
.learnMore {
    max-width: 100%;
    @media screen and (max-width: $break-large) {
        max-width: 800px;
    }
}

.learnContainer {
    width: auto;
    height: auto;
    padding: 2% 0 0 0;
    background-color: rgb(231, 231, 231);
    font-size: 24px;
    text-align: center;
    @media screen and (max-width: $break-large) {
        max-width: 100%;
        padding: 2% 0 0 0;
    }
}