@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
.appBar {
    text-align: center;
    height: 80px;
}

.left-nav {
    font-size: 50px;
}

.hamburger {
    color: white;
}