$break-small: 500px;
$break-large: 800px;
.contentBox {
    height: 500px;
    width: 100%;
    @media screen and (max-width: $break-large) {
        max-width: 800px;
        ;
        margin: 0%;
    }
}